<div class="container">
    <!-- Contador -->
    <div class="counter">Contador: {{ counter }}</div>
  
    <!-- Botón de incremento -->
    <button class="button" (click)="increase()">+1</button>
  
    <!-- Botón de disminución (deshabilitado cuando no es posible disminuir más) -->
    <button class="button" (click)="decrease()" [disabled]="!activeDecrease">-1</button>
    <br>
  
    <!-- Botón para activar o desactivar la disminución -->
    <button class="toggle-button" (click)="inactiveDecrease()">
      {{ activeDecrease ? 'Inactivar' : 'Activar' }} disminución
    </button>
  </div>